.schedule-calendar-plus .rbc-month-view .rbc-date-cell:hover {
    background-color: rgba(139, 92, 246, 0.15);
    cursor: pointer;
}

.schedule-calendar-plus .rbc-month-view .rbc-date-cell:hover::after {
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: #8b5cf6;
    pointer-events: none;
    z-index: 10;
}
.schedule-calendar-plus .rbc-date-cell {
    position: relative;
    min-height: 105px;
}

.schedule-calendar-plus .rbc-month-view .rbc-day-bg {
    position: relative;
    transition: background-color 0.2s;
}

.schedule-calendar-plus .rbc-toolbar-label {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
