@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-syne: "Syne", sans-serif;
    --font-roboto: "Roboto Flex", sans-serif;
    --font-inter: "Inter", sans-serif;

    /* Purple */
    --color-purple-primary: #6b4692;
    --color-purple-light: #e7d0ff;
    --color-purple-landing: #b5a2c8;
    --color-sub-text: #999999;
    --color-primary-gray: #71717a;
    --color-sub-feedback: #797979;

    /* Slate */
    --color-slate-100: #f5f5f5;
    --color-slate-50: #f8fafc;

    /* Gray - Light Mode */
    --color-gray-primary: #71717a;
    --color-gray-text-header: #404040;

    /* Brown - Light Mode */
    --color-brown-primary: #451a03;

    /* Status Color - Light Mode */
    --color-success: #56ba28;
    --color-banned: #ff1f25;
    --color-warning: #f59e0b;
    --color-disable: #495057;

    /* Amber */
    --color-amber-primary: #451a03;

    /* Dark Mode Variants */
    --color-purple-primary-dark: #e7d0ff;
    --color-purple-secondary-dark: #3d2a5c;
    --color-purple-landing-dark: #7a6b8a;
    --color-sub-text-dark: #b0b0b0;

    --color-slate-100-dark: #2a2a2a;

    --color-gray-primary-dark: #a0a0a0;
    --color-gray-text-header-dark: #e0e0e0;

    --color-brown-primary-dark: #8b4513;

    --color-success-dark: #4ade80;
    --color-banned-dark: #ef4444;
    --color-warning-dark: #f59e0b;
    --color-disable-dark: #6b7280;

    --color-gray-dark-bg: #27272a;

    --color-membership-light: #E7EBFF;
}

:root {
    font-family: "Syne", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    /* background-color: #ffffff; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --chart-verified: #13ae5c; /* green */
    --chart-notVerified: #f2c01b; /* orange */
    --chart-disabled: #747474; /* dark gray */
    --chart-banned: #df3d19; /* red */
    --chart-premium: oklch(82.7% 0.119 306.383);
    --chart-other: oklch(49.1% 0.27 292.581);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

html {
    scroll-behavior: smooth;
}

/*a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}*/

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

span {
    caret-color: transparent;
}

button {
    /* border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a; */
    cursor: pointer;
    outline: none !important;
    /* transition: border-color 0.25s; */
}

button:hover {
    border-color: #646cff;
    outline: none !important;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.resizer {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 4px;
    /* vùng kéo rộng 5px */
    cursor: col-resize;
    /* hiển thị icon resize */
    background: #e9ecef;
    z-index: 10;
    user-select: none;
    touch-action: none;
    border-radius: 6px;
}

.resizer.isResizing {
    background: #6b7181;
    /* màu highlight khi đang resize */
    opacity: 1;
}

*:hover > .resizer {
    opacity: 1;
}

.resizer {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 4px;
    /* vùng kéo rộng 5px */
    cursor: col-resize;
    /* hiển thị icon resize */
    background: #e9ecef;
    z-index: 10;
    user-select: none;
    touch-action: none;
    border-radius: 6px;
}

.resizer.isResizing {
    background: #6b7181;
    /* màu highlight khi đang resize */
    opacity: 1;
}

*:hover > .resizer {
    opacity: 1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);

    /* Custom colors for dark mode */
    --color-purple-primary: var(--color-purple-primary-dark);
    --color-purple-secondary: var(--color-purple-secondary-dark);
    --color-purple-landing: var(--color-purple-landing-dark);
    --color-sub-text: var(--color-sub-text-dark);
    --color-slate-100: var(--color-slate-100-dark);
    --color-gray-primary: var(--color-gray-primary-dark);
    --color-gray-text-header: var(--color-gray-text-header-dark);
    --color-brown-primary: var(--color-brown-primary-dark);
    --color-success: var(--color-success-dark);
    --color-banned: var(--color-banned-dark);
    --color-warning: var(--color-warning-dark);
    --color-disable: var(--color-disable-dark);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

/* Chiều rộng & cao của scrollbar */
::-webkit-scrollbar {
    @apply w-1.5 h-2;
}

/* Track (phần nền phía sau thanh kéo) */
::-webkit-scrollbar-track {
    @apply bg-transparent;
}

/* Thumb (phần kéo được của scrollbar) */
::-webkit-scrollbar-thumb {
    @apply rounded-full bg-border border-[1px] border-transparent border-solid;
}

/* Chiều rộng & cao của scrollbar */
::-webkit-scrollbar {
    @apply w-1.5 h-2;
}

/* Track (phần nền phía sau thanh kéo) */
::-webkit-scrollbar-track {
    @apply bg-transparent;
}

/* Thumb (phần kéo được của scrollbar) */
::-webkit-scrollbar-thumb {
    @apply rounded-full bg-border border-[1px] border-transparent border-solid;
}
